<div ng-app="sharetunes.layout" ng-controller="TopnavController as topnavCtrl">
    <div layout="row" flex>
        <md-sidenav
                class="site-sidenav md-sidenav-left md-whiteframe-z2"
                md-component-id="left"
                ng-click="topnavCtrl.toggleList()">

            <md-toolbar class="md-whiteframe-z1">
                <h3 class="title">Genres</h3>
            </md-toolbar>

            <md-list class="listGenres">
                <md-list-item ng-repeat="genre in genres">
                    <md-button flex ng-click="topnavCtrl.setGenre(genre.name)">{{ genre.name }}</md-button>
                </md-list-item>
            </md-list>

        </md-sidenav>
    </div>

    <div flex layout="column" tabIndex="-1" class="md-whiteframe-z2">
        <md-toolbar layout="row" class="md-whiteframe-z1">
            <md-button id="main" class="menu" ng-click="topnavCtrl.toggleList()" aria-label="Show User List">
                <md-icon md-svg-icon="bower_components/angular-material/demos/toolbar/demoBasicUsage/img/icons/menu.svg" ></md-icon>
            </md-button>
            <h3 class="title">Share Tunes App</h3>
        </md-toolbar>
    </div>
</div>